
.footer{
    background-color: #000000;

}

.footer-section{
@include flex-column;
&-social-medias{
    @include flex;
    gap: 6px;
    padding-bottom: 34px;
}
&-touch{
    
    padding: 25px 0px 22px;
    color: #ffff;
}
&-text{
    
    color: #B9B9B9;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 37px;
    max-width: 684px;
}
&-under-text{
    display: flex;
    padding-bottom: 70px;
    text-decoration: none;
    color:#B9B9B9;
}
&-under-span{
    padding: 0px 10px 0px 10px;
}
&-under-link{
    color:#B9B9B9
}
}
@media screen and (max-width:620px){
    .footer-section-under-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
@media screen and (max-width:420px){
    .photo-subtitle-go{
        display: none;
    }
}



