.photo{
    background-color: #f5f5f5;
    &-list{
        @include flex;
        gap:15px
    }
    &-container{
        padding: 70px 0px 70px;
    }
    &-title-wrapper{
        display: flex;
        justify-content: space-between;
    }
    &-subtitle-go{
        font-weight: $subtitle-weight;
        font-size: $subtitle-size;
        text-transform: uppercase;
    }
}

@media screen and (max-width:768px) {
    .photo-item:last-child{
        display: none;
    }
    .photo-item>img {
        width: 100%;
    }
}
.photo-item>img {
    width: 100%;
}
@media screen and (max-width:$mobile){
   .photo-item{
display: none;
    }
    .photo-item:first-child{
        display: block;
            }
}